@import 'config';
@import 'menu';


// Heading Styles
.header-logo {
  @include easeOut;
  height: 10vh;
  cursor: pointer;
  transform: translate(35%,0);

  &:hover {
    @include easeOut;
    transform: translate(35%, 15%) scale(1.25);
  }
}


.heading {
  margin: 0;
}

//Hero styles

.hero {
  margin: 1.5em 4em;
}

.hero-grid {
  display: grid;
  grid-template-areas:
  'league league indoor college'
  'news clubs tournament tournament';
  grid-template-columns: repeat(4, 1fr);
  grid-gap: .5em;
  grid-auto-rows: 33vh;

  .league-contain {
    grid-area: league;
    overflow: hidden;

    .leagues-hero {
      @include easeOut;
      background-image: url('/images/Leagues.jpg');
      background-position: center;
      background-size: cover;
      height: 105%;
      text-align: center;
      width: 105%;
    }

    &:hover .leagues-hero {
      @include easeOut;
      height: 100%;
      width: 100%;
    }
  }

  .indoor-contain {
    grid-area: indoor;
    overflow: hidden;

    .indoor-hero {
      @include easeOut;
      background-image: url('/images/futsal.png');
      background-position: center;
      background-size: cover;
      height: 110%;
      text-align: center;
      width: 110%;
    }

    &:hover .indoor-hero {
      @include easeOut;
      height: 100%;
      width: 100%;
    }
  }

  .college-contain {
    grid-area: college;
    overflow: hidden;

    .college-hero {
      @include easeOut;
      background-image: url('/images/college.jpg');
      background-position: center;
      background-size: cover;
      text-align: center;
      height: 110%;
      widows: 110%;
    }

    &:hover .college-hero {
      @include easeOut;
      height: 100%;
      width: 100%;
  }
}

  .clubs-contain {
    grid-area: clubs;
    overflow: hidden;

    .clubs-hero {
      @include easeOut;
      background-image: url('/images/clubs.jpg');
      background-position: center;
      background-size: cover;
      text-align: center;
      height: 110%;
      width: 110%;
    }

    &:hover .clubs-hero {
      @include easeOut;
      height: 100%;
      width: 100%;
    }
  }

  .news-contain {
    grid-area: news;
    overflow: hidden;


    .news-hero {
      @include easeOut;
      background-image: url('/images/news.png');
      background-position: center;
      background-size: cover;
      text-align: center;
      height: 110%;
      width: 110%;
    }

    &:hover .news-hero {
      @include easeOut;
      background-color: rgba(20, 20, 20, 1);
      height: 100%;
      width: 100%;
}

  }

  .tournaments-contain {
    grid-area: tournament;
    overflow: hidden;

    .tournaments-hero {
      @include easeOut;
      background-image: url('/images/tournament.jpg');
      // background-position: top;
      background-size: cover;
      height: 110%;
      text-align: center;
      width: 110%;
      }

    &:hover .tournaments-hero {
      @include easeOut;
      height: 100%;
      width: 100%;
    }

  }


  a {
    color: #000;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

// LOGIN Styles

.login-section {
  @include easeOut;
  display: flex;
  width: 31em;
  height: 31em;
  background-repeat: no-repeat;
  background-image: url('/images/EDP_LOGO.png');
  // background-color: #999;
  transform: translate(120%,0);
  z-index: 0;

  &:hover {
    @include easeOut;
    transform: translate(120%,0) scaleX(-1);
    background-image: url('/images/LOGO_NO_EDP.png');
  }
}

// .login-image {
//   transform: translate(120%,0);
// }


//ADMIN menu

.admin-menu {
  width: 8rem;
  height: 180vh;
  background-color: $primary-color;
  list-style: none;
  text-decoration: none;
  float: left;
}

.admin-nav {
   :hover {
     @include easeOut;
    background-color: $edp-light-blue;
    text-decoration: none;
  }
}

.admin-link {
  text-decoration: none;
}

.admin-item {
  display: block;
  margin: .25em 0 0;
  background-color: lighten($primary-color, 8%);
  height: 3rem;
  text-align: center;
  padding: 20px 0 0;
  text-decoration: none;
  color: $color;
  }

  // DASHBOARD STYLES

  .dropdown-toggle {
    width: 100%;
  }

  .dropdown-menu {
    width: 100%;
    text-align: center;
  }

  .dashboard-left {
    width: 30vw;
  }

  .card-deck {
    margin: 1em 0 0;
  }

  .event-info {
    list-style: none;

    li {
      margin: .25rem 0 0;
    }
  }

.card {
  background-color: lighten($primary-color, 7%);
  color: $color;
}

.rank-stat {
  background-color: #c4a000;
}

.money-stat {
  background-color: #00ab61;
}

.retention-stat {
  background-color: $edp-light-blue;
}

.reg-stat {
  background-color: $edp-red;
}

.card-header {
  background-color: lighten($primary-color, 3%);
}

.card-footer {
  background-color: lighten($primary-color, 3%);
}

.rep-sales {
  padding: 0;
  overflow: hidden;

  p {
    font-size: 2rem;
    padding: 5px;
    margin: 2px 0;
  }
}

.retention-table {
  padding: 0;
  overflow: hidden;
  margin: 2px 0;

  p {
    font-size: 2rem;
    padding: 2px;
    margin: 2px 0;
  }
}


.progress {
  font-size: 1rem;
  height: 1.5rem;
  background-color: lighten($primary-color, 7%);
}

.progress-bar-striped {
  background-color: lighten($primary-color, 25%);
}

td {
vertical-align: middle;
}

th {
  vertical-align: middle;
}

.percent-table {
  width: 30vw;
  height: 15rem;
  text-align: center;
  border: none;
  color: $color;
}
.retention-trend{
  background-color: $edp-light-blue;
}

.list-group-item {
  background-color: lighten($primary-color, 0%);
  color: $color;
  border-color: #393939;
}

.club-link{
  @include easeOut;
  text-decoration: none;
  color: $color;

    :hover {
    @include easeOut;
    background-color: lighten($primary-color, 15%);
    text-decoration: none;

      span {
          @include easeOut;
          background-color: lighten($primary-color, 15%);
      }
    }
  }

  .team-token {
    color: $color;
    float: right;
    background-color: $primary-color;
  }

//Mobile QUERIES

@import 'mobile';
